/* CTA Button Component Colors */
.cta-button {
  background-color: #fb923c; /* orange-400 */
  color: #0f172a; /* slate-900 */
}

/* .cta-button:hover {
  background-color: #f97316; 
} */

.cta-student-text {
  color: #9ca3af; /* gray-400 */
}
